body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  gap: 332px;
  padding: 10px 50px;
  height: 70px;
  background-color: #1f2937;
  padding-bottom: 100px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #1f2937;
  padding-bottom: 100px;
}

.hero-left {
  width: 450px;
}

.hero-left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
  margin-bottom: 0;
}

.hero-left p {
  margin-top: 0;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
}

.menu {
  text-decoration: none;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.menu-items {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 18px;
}

.menu-items li {
  list-style-type: none;
}

.menu-items a {
  text-decoration: none;
  color: #e5e7eb;
}

.menu-items a:hover {
  text-decoration: none;
  color: gray;
}

.sign-up {
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 5px 28px;
  font-size: 18px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.hero-image {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 500px;
  height: 300px;
  /* margin-right: 500px; */
}
